<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ name }}</title>
</head>

<body>
    <img src="{{ avatarUrl }}" height="300" width="300" />
    <h3>{{ name }}</h3>
</body>

</html>